<nav class="navbar navbar-default navbar-fixed-top">
  <!--<div class="container-fluid">-->
  <div class="navbar-header">
    <a routerLink="/" class="navbar-brand">Oulipo</a>
  </div>

  <!--- Authenticated Navbar -->
  <div *ngIf="(authState | async).authenticated">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" style="cursor: pointer" routerLink='/explore'><a>Explore <span class="glyphicon glyphicon-book"></span></a></li>
      <li routerLinkActive="active" style="cursor: pointer" appDropdown>
        <a class="dropdown-toggle" (click)="clickProjects()"> Projects  <span class="glyphicon glyphicon-pencil"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu col-xs-12">
          <app-project-dropdown [projects]="(projectsState | async).authoredProjects" [isOpen]="projectsSelected">
          </app-project-dropdown>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" style="margin-right: 10px;"><a routerLink="/inbox">Inbox
        <span class="glyphicon glyphicon-envelope"></span>
          <!-- <span class="badge" *ngIf="(thisAccount | async).receivedMessages.length > 0">{{ (thisAccount | async).receivedMessages.length }}</span -->
            </a>
      </li>
      <li style="margin-top: 10px; margin-right: 10px; padding-right:10px;"
        class="dropdown" appSearchBarDirective [text]=searchText.value>
        <input class="navbar-form control-input" type="text" placeholder="Search.." aria-label="Search" #searchText>
        <ul class="dropdown-menu">
          <li>
            <div>
              <app-reactive-project-search [searchForm]=searchText.value></app-reactive-project-search>
            </div>
            <div>
                <app-reactive-accounts-search (foundAccount)="navToAccount($event)" [searchForm]=searchText.value></app-reactive-accounts-search>
            </div>
            <div>
                <app-reactive-groups-search [searchForm]=searchText.value></app-reactive-groups-search>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown" appDropdown>
        <a style="cursor: pointer;" class="dropdown-toggle"
          role="button">{{ (thisAccount | async).username}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <div class="text-right">
            <li><a class="list-group-item" routerLink="/accounts/{{(thisAccount | async).idField}}" style="cursor: pointer;">View Account</a></li>
            <li><a class="list-group-item" (click)="logout()" style="cursor: pointer;">Logout</a></li>
            <li><a class="list-group-item" routerLink="/admin" style="cursor: pointer;">Admin</a></li>
          </div>
        </ul>
      </li>
    </ul>
  </div>

  <!--- Unauthenticated Navbar -->
  <div *ngIf="!(authState | async).authenticated">
    <ul class="nav navbar-nav navbar-justify">
      <li><a role="button" routerLink="/auth/login" style="cursor: pointer;">Login/Register</a></li>
    </ul>
  </div>
</nav>