<div class="col-xs-12 panel panel-default">
  <div class="col-xs-12">
    <div class="col-xs-4" style="padding-right: 5px;">
      <br>
      <div class="dropdown" appSearchBarDirective [text]=searchText.value>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Username.." aria-label="Search" #searchText>
          <span class="input-group-btn">
            <button class="btn btn-success" (click)="attemptThreadCreation(searchText.value)" type="button">
              <span class="glyphicon glyphicon-plus-sign"> </span>
            </button>
          </span>
        </div>
        <div class="dropdown-menu">
          <app-reactive-accounts-search (foundAccount)="foundAccount($event)" [searchForm]=searchText.value>
          </app-reactive-accounts-search>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <h4 class="page-header">
        <div *ngIf="activeThread!==null">
          <small>Conversation with </small> {{ activeThread.username }}
        </div>
        <div *ngIf="activeThread===null">
          Search for a user to begin a chat thread.
        </div>
      </h4>
    </div>
  </div>
  <div class="col-xs-4" style="padding-right: 5px;">
    <div class="list-group">
        <a class="list-group-item" *ngFor="let thread of ( uniqueThreads | async)" appHighlightDirective
          style="cursor: pointer;" routerLink="/inbox/{{thread.username}}" routerLinkActive="active"
          (click)="setActiveThread(thread)">
          <div class="list-group-item-heading">
            <h4>
              {{thread.username}}
            </h4>
          </div>
        </a>
    </div>
  </div>
  <div class="col-xs-8">
    <div class="well" style="padding: 10px">
      <div *ngIf="activeThread!==null">
        <div class="media-list">
          <div *ngFor="let thread of activeThread.thread">
            <div class="media" 
            [ngClass]="{
            'received': thread.received,
            'sent': !thread.received
          }">
              <div class="media-left" *ngIf="!thread.received">
                <div class="media-object">
                  <h3>
                    {{ thread.message.fromUsername}}
                  </h3>
                </div>
              </div>
              <div class="media-body">
                <small>Sent at {{ thread.message.sentAt }} </small>
                <p class="lead">
                  {{ thread.message.value}}
                </p>
              </div>
              <div class="media-right" *ngIf="thread.received">
                <div class="media-object">
                  <h3>
                    {{ thread.message.fromUsername}}

                  </h3>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div>
          <app-compose-message [to]="activeThread.username"></app-compose-message>
        </div>
      </div>
    </div>
  </div>
</div>