# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ frontend-build ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Angular7 Front End
       run: ( cd ./oulipo-webapp && ng build)